<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>
        {% block titulo %}
            titulo por defecto
        {% endblock %}
    </title>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CineFans</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/products/list-content/">Contenidos <span class="sr-only">(current)</span></a>
          <a class="nav-link disabled" href="/products/favorites/">Favoritos</a>
          <a class="nav-link" href="/products/new-content/">Alta de contenidos</a>
          <a class="nav-link active" href="/products/list-review/">Reseñas</a>
          <a class="nav-link" href="/products/new-review/">Alta de Reseñas</a>
          <a class="nav-link active" href="/products/list-platforms/">Plataformas</a>
          <a class="nav-link" href="/products/new-platform/">Alta de Plataformas</a>
          <a class="nav-link" href="/products/delete-platform/">Borrar Plataforma</a>
          <form class="form-inline">
            {% if request.user.is_authenticated %}
            <a class="btn btn-info" type="button float-right" href="/users/show-profile/{{user.id}}/">Ver Perfil</a>
            <a type="button" class="btn btn-warning float-right" href="/users/logout/">Logout</a>
            {% else %}
                <a class="btn btn-success" type="button float-right" href="/users/login/">Login</a>
                <a class="btn btn-info" type="button float-right" href="/users/register/">Register</a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>

    {% block contenido_que_cambia %}
        bloque por defecto
    {% endblock %}

  </body>
</html>