{% extends 'base.html' %}

{% block titulo %}
    Listado de películas, series y más
{% endblock %}

{% block contenido_que_cambia %}

    
    <div class="row row-cols-1 row-cols-md-5"> <!-- cambiando el ultimo numero cambia la cantidad de columnas -->
      {% for content in contents %}
        <div class="col mb-5">
          
          <div class="card h-100">
            <img style="height:450px;max-width:300px;" id="img_DocPreview" src= {{content.image_url}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{content.name}}</h5> 
              <p class="card-text"><small class="text-muted">{{content.get_category_display}}</small></p> <!-- el get_CAMPO_display trae el valor legible de la tupla, el que se guarda en la base es solo la letra -->
              <p class="card-text">Calificación: {{content.score}}</p>
              <p class="card-text">Calificación de usuarios: {{content.user_score}}</p>
              <p class="card-text">{{content.description}}</p>
              {% if request.user.is_authenticated %}          
              <a class="btn btn-danger" href="/products/delete-content/{{content.id}}/">Borrar</a>
              {% endif %}
            </div>
          </div>
          
        </div>
      {% endfor %}  
      </div>
    

{% endblock %}
