{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido_que_cambia %}

    
    <div class="row row-cols-1 row-cols-md-5"> <!-- cambiando el ultimo numero cambia la cantidad de columnas -->
      {% for product in products %}
        <div class="col mb-5">
          
          <div class="card h-100">
            <img src= {{product.image_url}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5> 
              <p class="card-text">${{product.price}}</p>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text"><small class="text-muted">Actualizado: {{product.modified_date}}</small></p>
            </div>
          </div>
          
        </div>
      {% endfor %}  
      </div>
    

{% endblock %}
