{% extends 'base.html' %}

{% block titulo %}
    Reseñas de usuarios
{% endblock %}

{% block contenido_que_cambia %}

  <div class="row row-cols-1 row-cols-md-5"> <!-- cambiando el ultimo numero cambia la cantidad de columnas -->
    {% for review in reviews %}
      <div class="col mb-5">
        <div class="card h-100">
            <img style="height:450px;max-width:300px;width: expression(this.width > 300 ? 300: true);" id="img_DocPreview" src= {{review.film.image_url}}  class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{review.name}}</h5>
            <p class="card-text"><small class="text-muted">{{review.film}}</small></p>
            <p class="card-text"><small class="text-muted">Calificación: {{review.puntaje}}</small></p>
            <p class="card-text">{{review.body}}</p>
            <a href="/products/delete-review/{{review.id}}/" class="btn btn-danger">Borrar</a>
          </div>
        </div>
          
      </div>
    {% endfor %}  
  </div>
    

{% endblock %}
